    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    * {
        font-family: "Pacifico", cursive;
    }
    body{
        background-image: url("/Images/dandelion-445228_1280.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    div {
        line-height: normal;
        display: flex;
    }
    div a{
        line-height: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }  
    h1 {
        display: flex;
        float: left;
        align-items: flex;
    }
    h2{
        float: right;
        padding-top: 50px;
        font-size: 45px;
        font-weight: lighter;
        color:rgb(32, 32, 165);
    }
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    a {
        font-size: x-large;
        padding: 10px;
        text-decoration: none;
    }
    hr {
        height: 100vh;
        background: #f8f8f8;
        background-image: url("/Images/dark_leaves.webp");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        border:0;
    }